<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Model\Product\SaveHandler">
        <plugin name="kinex_configurablevarianturl_reconcile_links" type="Kinex\ConfigurableVariantUrl\Plugin\RegenerateChildUrlsAfterConfigurableSave"/>
    </type>
</config>
